[{"city": "Austin", "restaurantId": 1, "name": "Ramen Tatsu-Ya"}, {"city": "Austin", "restaurantId": 2, "name": "Contigo Austin"}, {"city": "Austin", "restaurantId": 3, "name": "Salt & Time"}, {"city": "Austin", "restaurantId": 4, "name": "Sway Thai"}]